<?xml version="1.0" encoding="UTF-8"?>
<manifest package="com.seeeeshtheearth.app" xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" android:largeHeap="true"
        android:name="com.seeeeshtheearth.app.appcomponents.di.MyApp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true" android:theme="@style/Theme.MyApp" android:usesCleartextTraffic="true">
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>
        <meta-data android:name="com.facebook.sdk.ClientToken" android:value="@string/facebook_client_token"/>
        <activity
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" android:name="com.facebook.FacebookActivity"/>
        <activity android:exported="true" android:name="com.facebook.CustomTabActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="@string/fb_login_protocol_scheme"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.seeeeshtheearth.app.modules.eventdetails.ui.EventDetailsActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.seeeeshtheearth.app.modules.notification.ui.NotificationActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.seeeeshtheearth.app.modules.onboardingtwo.ui.OnboardingTwoActivity" android:screenOrientation="portrait"/>
        <activity android:exported="true"
            android:name="com.seeeeshtheearth.app.modules.splashscreen.ui.SplashScreenActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.seeeeshtheearth.app.modules.onboardingone.ui.OnboardingOneActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.seeeeshtheearth.app.modules.mapview.ui.MapViewActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.seeeeshtheearth.app.modules.signin.ui.SignInActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.seeeeshtheearth.app.modules.invitefriendvone.ui.InviteFriendVoneActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.seeeeshtheearth.app.modules.organizerprofileabout1.ui.OrganizerProfileAbout1Activity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.seeeeshtheearth.app.modules.signup.ui.SignUpActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.seeeeshtheearth.app.modules.emptynotification.ui.EmptyNotificationActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.seeeeshtheearth.app.modules.emptyevents.ui.EmptyEventsActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.seeeeshtheearth.app.modules.searchwhitebar.ui.SearchWhiteBarActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.seeeeshtheearth.app.modules.homecontainer.ui.HomeContainerActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.seeeeshtheearth.app.modules.ressetpassword.ui.RessetPasswordActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.seeeeshtheearth.app.modules.seeallevents.ui.SeeAllEventsActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.seeeeshtheearth.app.modules.filter.ui.FilterActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.seeeeshtheearth.app.modules.myprofile.ui.MyProfileActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.seeeeshtheearth.app.modules.verification.ui.VerificationActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.seeeeshtheearth.app.modules.onboardingthree.ui.OnboardingThreeActivity" android:screenOrientation="portrait"/>
        <activity
            android:name="com.seeeeshtheearth.app.modules.menuwhite.ui.MenuWhiteActivity" android:screenOrientation="portrait"/>
    </application>
</manifest>
